*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

 header{
 	width: 100%; 
 	height: 110px;
 	background: #11757D;
 }
 h1{
 	color: white;
 	text-align: center;
 	height: 0px;
 	padding: 10px 0px 0px 0px;
 	
 }
 img{
 	width: 170px;
 	height: 100px;

 }
header .logo{
	height:95px; /*120*/ 
	float: left;
	width: 20%; /*tamaño logo en contenedor*/
	
}


 
 .contenedor{
 	width: 100%;
 	padding: 100px;


 

 }
 .formulario{

 	margin: auto; /*centrar*/
	width: 50%;
	max-width: 500px; /**ancho maximo*/
	background: #ACB5B6;
	padding: 30px;
	border:2px solid rgba(0,0,0,0.2); /* borders form*/
 }
 h2{
	text-align: center; /*centrar el texto*/
	margin-bottom: 20px;
	color: #EAF3F3; /*rgba(0,0,0,0.5);*/
}
input{
	font-size: 20px;
	width: 82%;
	padding: 10px;

}
span{
	font-size: 35px;
	padding: 5px;
}
.input-contenedor{
	margin-bottom: 15px;
}
.link{
	width: 100%;
	margin: 8px;
	font-size: 14px;
}
.link a{
		text-decoration: none;
	 }
input[type="submit"]{
	display: block; /*Logra que se pueda mover*/
	width: 50%;
	margin: auto;
	background: #15929D;	
	border:0;
	color: white;
	opacity: 0.8;
	cursor: pointer; /*pone una manito en el puntero*/
	border-radius: 20px;
	margin-bottom: 10px;

}
.error{
	color: red;
	margin: 0;
	padding: 0;

}
footer{
	width: 100%;
	background: #11757D;
	height: 95px;

}
.síguenos{
	font-family: sans-serif;
	font-size: 20px;
}
footer .iconos{
	float: left;
	width: 80%;
	height: 80px;
	padding: 0px 10px;
	display: block;

}
footer span{
	font-size: 50px;
	padding: 10px;
}
footer .contacto{
	float: left;
	width: 20%;
	height: 95px;
}
.siguenos{
	width: 100%;
	padding: 5px;
}
.gmail{
	padding: 20px;
}