*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

 header{
 	width: 100%; 
 	background: #11757D;
 	margin-bottom: 50px;
 	

 }
 h1{
 	text-align: center;
 	height: 0px;
 	padding: 5px 0px 0px 0px;
 	font-size: 30px;
 	color: white;
 }

 .contenedor{
 	width: 100%; /*Tama単o total*/
 	height: 105px; /*120*/
 }
 img{
 	width: 170px;
 	height: 100px; /*120*/

 }
header .logo{
	height:100px; /*120*/ 
	float: left;
	width: 13%; /*tama単o logo en contenedor*/
	


}
/*-------------menu------------*/
header .menu{
	float: left;
	width: 40%;/*tama単o nav en contenedor*/
 	height: 100px; /*120*/
 

}
 header nav{
 	
 	position: relative;
 	top: 56px;
 
 }
ul, ol{
	list-style: none;
}
nav li a{
	background: #11757D;
	color: white;
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
	display: block;

}
 .subnav >li{

	float: left;
}
nav li a:hover{

	background: #35B9B9;
	border: 22px;
}

.subnav li ul{
	display:none; 
	position: absolute;
	min-width: 140px;

}

.subnav li:hover > ul{
	display: block;
}

/*treminaaaaa menuuuuuuuuuuuuuu*/
.sesion{
	float: left;
	width: 47%;/*tama単o sesion en contenedor*/
	height: 100px; /*120*/
	
}
.sesion_logo{
	width: 100%;
	height: 60px; /*diferencia contenedor de arriba*/
	float: right;
	padding: 0px 40px;

}
.img_sesion{
	float: right;
	width: 75px;
	height: 50px;


}
.cerrar{
	float: right;
	height: 40px; /*contenedor de abajo*/
	width: 100%;
	text-align: right;
	
}
.cerrar > a {
	color: white;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 30px 0px 0px;
}
.cerrar > p{
	padding: 0px 15px 0px 0px;
}

.cerrar > a:hover{
	color: #35B9B9;
	
}